In [2]:
import pandas as pd
import seaborn as sb

In [7]:
df = pd.read_excel('hockeyplayerdata2018.xlsx',sheet_name='PlayerData',skiprows=2)
print(df.head())

   ID   Team Country     NameF      NameL  Weight Height        DOB  \
0   1  Women  Canada    Meghan     Agosta     148    5'7 1987-02-12
1   2  Women  Canada   Rebecca   Johnston     148    5'9 1989-09-24
2   3  Women  Canada     Laura     Stacey     156   5'10 1994-05-05
3   4  Women  Canada  Jennifer  Wakefield     172   5'10 1989-06-15
4   5  Women  Canada   Jillian   Saulnier     144    5'5 1992-03-07

    Hometown  Prov      Pos  Age  HeightFt  HtIn  BMI
0    Ruthven  Ont.  Forward   34  5.583333    67   23
1    Sudbury  Ont.  Forward   32  5.750000    69   22
2  Kleinburg  Ont.  Forward   27  5.833333    70   22
3  Pickering  Ont.  Forward   32  5.833333    70   25
4    Halifax  N.S.  Forward   29  5.416667    65   24

PRINT COUNTRYWISE PLAYER COUNT

In [9]:
print(df['Country'].value_counts())

Canada    48
USA       48
Name: Country, dtype: int64

PRINT PLAYER WITH SAME NAMES

In [25]:
# print(df['NameF'].value_counts()>1)
print(df.NameF.value_counts().loc[lambda x:x>1])

Ryan        4
Chris       3
Emily       2
Brandon     2
Chad        2
Amanda      2
Bobby       2
Maxim       2
Jocelyne    2
Meghan      2
Haley       2
Laura       2
Brian       2
Name: NameF, dtype: int64

PRINT ATHLETE NAMES GROUPED-BY HOMETOWN

In [37]:
df.groupby('Hometown')['NameF'].apply(print)

82    Chad
Name: Abington, dtype: object
68    Maddie
Name: Andover, dtype: object
16    Lauriane
Name: Beaconsfield, dtype: object
12    Marie-Philip
Name: Beauceville, dtype: object
78    Matt
Name: Bellmore, dtype: object
81    Ryan
Name: Bensalem, dtype: object
91    Ryan
Name: Bloomington, dtype: object
47    Justin
Name: Blyth, dtype: object
86    John
Name: Boston, dtype: object
93    Noah
Name: Brighton, dtype: object
34    Maxim
Name: Brossard, dtype: object
66    Emily
83    David
Name: Buffalo, dtype: object
19    Renata
55      Kali
Name: Burlington, dtype: object
28    Brandon
43        Mat
Name: Calgary, dtype: object
37    Karl
Name: Camrose, dtype: object
80    Jordan
94     James
Name: Canton, dtype: object
32    Mason
Name: Cochrane, dtype: object
54    Meghan
Name: Danvers, dtype: object
67    Alex
Name: Delafield, dtype: object
53    Brianna
Name: Dousman, dtype: object
48    Cayla
Name: Eastvale, dtype: object
20    Shannon
Name: Edmonton, dtype: object
95    Ryan
Name: Erie, dtype: object
57    Megan
Name: Farmington, dtype: object
60    Jocelyne
61     Monique
Name: Grand Forks, dtype: object
4    Jillian
Name: Halifax, dtype: object
8     Sarah
17    Laura
Name: Hamilton, dtype: object
92    Troy
Name: Highlands Ranch, dtype: object
21    Geneviève
Name: Kingston, dtype: object
2    Laura
Name: Kleinburg, dtype: object
22    Ann-Renée
Name: La Malbaie, dtype: object
30    René
Name: Lac La Biche, dtype: object
73    Jonathan
Name: Ladera Ranch, dtype: object
56    Nicole
Name: Lakewood, dtype: object
90    Jim
Name: Lapeer, dtype: object
27    Rob
Name: Lethbridge, dtype: object
40    Marc-Andre
Name: L’Île-Bizard, dtype: object
38    Chris
Name: MacTier, dtype: object
58    Amanda
Name: Madison, dtype: object
15    Brigette
Name: Mallard, dtype: object
76    Bobby
Name: Marlborough, dtype: object
72    Chad
Name: Marysville, dtype: object
71    Mark
Name: Milford, dtype: object
63    Sidney
Name: Minnetonka, dtype: object
65    Amanda
Name: Montpelier, dtype: object
44    Maxim
46    Kevin
Name: Montreal, dtype: object
74    Will
Name: Moorhead, dtype: object
39    Chay
Name: Morden, dtype: object
75    Chris
Name: North Reading, dtype: object
29    Quinton
Name: Oakbank, dtype: object
7     Brianne
42       Cody
Name: Oakville, dtype: object
33    Eric
Name: Ottawa, dtype: object
52    Kendall
Name: Palos Heights, dtype: object
3    Jennifer
Name: Pickering, dtype: object
51     Dani
64    Kelly
Name: Plymouth, dtype: object
84    Broc
Name: Rindge, dtype: object
79    Brian
Name: Rochester, dtype: object
25    Derek
Name: Rockland, dtype: object
69    Haley
Name: Rockville, dtype: object
70    Lee
Name: Roseville, dtype: object
0    Meghan
Name: Ruthven, dtype: object
11    Emily
Name: Saskatoon, dtype: object
10    Natalie
Name: Scarborough, dtype: object
77    Ryan
Name: Scituate, dtype: object
45    Ben
Name: Spruce Grove, dtype: object
18    Meaghan
Name: St. Albert, dtype: object
6    Bailey
Name: St. Anne, dtype: object
14    Jocelyne
Name: Ste. Anne, dtype: object
13    Blayre
Name: Stellarton, dtype: object
1    Rebecca
Name: Sudbury, dtype: object
59    Hilary
Name: Sun Valley, dtype: object
9    Haley
Name: Thunder Bay, dtype: object
24       Wojtek
26        Chris
36    Christian
Name: Toronto, dtype: object
50    Hannah
Name: Vadnais Heights, dtype: object
5    Mélodie
Name: Valleyfield, dtype: object
23    Gilbert
41     Stefan
Name: Vancouver, dtype: object
31    Andrew
Name: Vernon, dtype: object
88    Garrett
Name: Vienna, dtype: object
35    Linden
Name: Wakaw, dtype: object
62    Gigi
Name: Warroad, dtype: object
49    Kacey
Name: Westfield, dtype: object
89    Bobby
Name: Wilmington, dtype: object
85    Brandon
Name: Winter Park, dtype: object
87    Brian
Name: Yardley, dtype: object

Hometown
Abington        None
Andover         None
Beaconsfield    None
Beauceville     None
Bellmore        None
                ...
Warroad         None
Westfield       None
Wilmington      None
Winter Park     None
Yardley         None
Name: NameF, Length: 84, dtype: object

PRINT COUNT OF PLAYERS AGED LESS THAN 30

In [63]:
print(df.loc[lambda df:df['Age']<30])

    ID   Team Country      NameF       NameL  Weight Height        DOB  \
2    3  Women  Canada      Laura      Stacey     156   5'10 1994-05-05
4    5  Women  Canada    Jillian    Saulnier     144    5'5 1992-03-07
5    6  Women  Canada    Mélodie      Daoust     159    5'6 1992-01-07
8    9  Women  Canada      Sarah       Nurse     140    5'8 1995-01-04
11  12  Women  Canada      Emily       Clark     130    5'7 1995-11-28
13  14  Women  Canada     Blayre    Turnbull     155    5'7 1993-07-15
15  16  Women  Canada   Brigette   Lacquette     180    5'6 1992-10-11
19  20  Women  Canada     Renata        Fast     144    5'6 1994-10-06
22  23  Women  Canada  Ann-Renée    Desbiens     160    5'9 1994-04-10
29  30    Men  Canada    Quinton      Howden     190    6'2 1992-01-21
36  37    Men  Canada  Christian      Thomas     174    5'9 1992-05-26
48  49  Women     USA      Cayla      Barnes     145    5'1 1999-01-07
50  51  Women     USA     Hannah      Brandt     150    5'6 1993-11-27
51  52  Women     USA       Dani  Cameranesi     148    5'5 1995-06-30
52  53  Women     USA    Kendall       Coyne     123    5'2 1992-05-25
55  56  Women     USA       Kali    Flanagan     142    5'4 1995-09-19
56  57  Women     USA     Nicole     Hensley     155    5'7 1994-06-23
57  58  Women     USA      Megan      Keller     160   5'11 1996-05-01
63  64  Women     USA     Sidney       Morin     140    5'5 1995-06-06
64  65  Women     USA      Kelly      Pannek     165    5'8 1995-12-29
65  66  Women     USA     Amanda      Pelkey     135    5'3 1993-05-29
66  67  Women     USA      Emily     Pfalzer     125    5'3 1993-06-14
67  68  Women     USA       Alex      Rigsby     150    5'7 1992-01-03
68  69  Women     USA     Maddie      Rooney     145    5'5 1997-07-07
69  70  Women     USA      Haley     Skarupa     140    5'6 1994-01-03
70  71  Women     USA        Lee   Stecklein     175    6'0 1994-04-23
74  75    Men     USA       Will      Borgen     195    6'2 1996-12-19
77  78    Men     USA       Ryan      Donato     196    6'1 1996-04-09
80  81    Men     USA     Jordan    Greenway     235    6'5 1997-02-16
92  93    Men     USA       Troy       Terry     179    6'0 1997-09-10

           Hometown    Prov      Pos  Age  HeightFt  HtIn  BMI
2         Kleinburg    Ont.  Forward   27  5.833333    70   22
4           Halifax    N.S.  Forward   29  5.416667    65   24
5       Valleyfield    Que.  Forward   29  5.500000    66   26
8          Hamilton    Ont.  Forward   26  5.666667    68   21
11        Saskatoon   Sask.  Forward   26  5.583333    67   20
13       Stellarton    N.S.  Forward   28  5.583333    67   24
15          Mallard    Man.  Defence   29  5.500000    66   29
19       Burlington    Ont.  Defence   27  5.500000    66   23
22       La Malbaie    Que.   Goalie   27  5.750000    69   24
29          Oakbank    Man.  Forward   29  6.166667    74   24
36          Toronto    Ont.  Forward   29  5.750000    69   26
48         Eastvale  Calif.  Defence   22  5.083333    61   27
50  Vadnais Heights   Minn.  Forward   28  5.500000    66   24
51         Plymouth   Minn.  Forward   26  5.416667    65   25
52    Palos Heights    Ill.  Forward   29  5.166667    62   22
55       Burlington   Mass.  Defence   26  5.333333    64   24
56         Lakewood   Colo.   Goalie   27  5.583333    67   24
57       Farmington   Mich.  Defence   25  5.916667    71   22
63       Minnetonka   Minn.  Defence   26  5.416667    65   23
64         Plymouth   Minn.  Forward   25  5.666667    68   25
65       Montpelier     Vt.  Forward   28  5.250000    63   24
66          Buffalo    N.Y.  Defence   28  5.250000    63   22
67        Delafield    Wis.   Goalie   29  5.583333    67   23
68          Andover   Minn.   Goalie   24  5.416667    65   24
69        Rockville     Md.  Forward   27  5.500000    66   23
70        Roseville   Minn.  Defence   27  6.000000    72   24
74         Moorhead   Minn.  Defence   24  6.166667    74   25
77         Scituate   Mass.  Forward   25  6.083333    73   26
80           Canton    N.Y.  Forward   24  6.416667    77   28
92  Highlands Ranch   Colo.  Forward   24  6.000000    72   24

PRINT PLAYERS WITH BMI OVER 26

In [64]:
print(df.loc[lambda df:df['BMI']>26])

    ID   Team Country     NameF        NameL  Weight Height        DOB  \
9   10  Women  Canada     Haley        Irwin     170    5'7 1988-06-06
15  16  Women  Canada  Brigette    Lacquette     180    5'6 1992-10-11
24  25    Men  Canada    Wojtek       Wolski     220    6'3 1986-02-24
25  26    Men  Canada     Derek          Roy     187    5'9 1983-05-04
27  28    Men  Canada       Rob  Klinkhammer     214    6'3 1986-08-12
30  31    Men  Canada      René      Bourque     216    6'2 1981-12-10
33  34    Men  Canada      Eric       O’Dell     201    6'1 1990-06-21
34  35    Men  Canada     Maxim     Lapierre     216    6'0 1985-03-29
43  44    Men  Canada       Mat     Robinson     185   5'10 1986-06-20
44  45    Men  Canada     Maxim       Noreau     198    6'0 1987-05-24
47  48    Men  Canada    Justin       Peters     210    6'1 1986-08-30
48  49  Women     USA     Cayla       Barnes     145    5'1 1999-01-07
72  73    Men     USA      Chad      Billins     185   5'10 1989-05-26
75  76    Men     USA     Chris      Bourque     180    5'8 1986-01-29
79  80    Men     USA     Brian       Gionta     175    5'7 1979-01-18
80  81    Men     USA    Jordan     Greenway     235    6'5 1997-02-16
90  91    Men     USA       Jim       Slater     200    6'0 1982-12-09
94  95    Men     USA     James   Wisniewski     205    6'0 1984-02-21
95  96    Men     USA      Ryan     Zapolski     203    6'0 1986-11-11

         Hometown    Prov      Pos  Age  HeightFt  HtIn  BMI
9     Thunder Bay    Ont.  Forward   33  5.583333    67   27
15        Mallard    Man.  Defence   29  5.500000    66   29
24        Toronto    Ont.  Forward   35  6.250000    75   27
25       Rockland    Ont.  Forward   38  5.750000    69   28
27     Lethbridge   Alta.  Forward   35  6.250000    75   27
30   Lac La Biche   Alta.  Forward   40  6.166667    74   28
33         Ottawa    Ont.  Forward   31  6.083333    73   27
34       Brossard    Que.  Forward   36  6.000000    72   29
43        Calgary   Alta.  Defence   35  5.833333    70   27
44       Montreal    Que.  Defence   34  6.000000    72   27
47          Blyth    Ont.   Goalie   35  6.083333    73   28
48       Eastvale  Calif.  Defence   22  5.083333    61   27
72     Marysville   Mich.  Defence   32  5.833333    70   27
75  North Reading   Mass.  Forward   35  5.666667    68   27
79      Rochester    N.Y.  Forward   42  5.583333    67   27
80         Canton    N.Y.  Forward   24  6.416667    77   28
90         Lapeer   Mich.  Forward   39  6.000000    72   27
94         Canton   Mich.  Defence   37  6.000000    72   28
95           Erie     Pa.   Goalie   35  6.000000    72   28

GROUP PLAYERS BY BMI

In [72]:
print(df.groupby('BMI').count()['ID'])

     ID  Team  Country  NameF  NameL  Weight  Height  DOB  Hometown  Prov  \
BMI
20    1     1        1      1      1       1       1    1         1     1
21    3     3        3      3      3       3       3    3         3     3
22    7     7        7      7      7       7       7    7         7     7
23   10    10       10     10     10      10      10   10        10    10
24   19    19       19     19     19      19      19   19        19    19
25   13    13       13     13     13      13      13   13        13    13
26   24    24       24     24     24      24      24   24        24    24
27   11    11       11     11     11      11      11   11        11    11
28    6     6        6      6      6       6       6    6         6     6
29    2     2        2      2      2       2       2    2         2     2

     Pos  Age  HeightFt  HtIn
BMI
20     1    1         1     1
21     3    3         3     3
22     7    7         7     7
23    10   10        10    10
24    19   19        19    19
25    13   13        13    13
26    24   24        24    24
27    11   11        11    11
28     6    6         6     6
29     2    2         2     2