In [53]:
import numpy as np
import pandas as pd
import datetime 
df = pd.read_csv('portals.csv')

PRINT FIRST FIVE ROWS OF FIRST FIVE COLUMNS

In [9]:
print(df.iloc[0:5,0:5].head())

                       name                            title  \
0                 a2gov_org              Ann Arbor, Michigan
1  acikveri-sahinbey-bel-tr  Açık Veri Portali - Test Yayını
2          africa_open_data                 Africa Open Data
3   ajuntament-de-tarragona              Open Data Tarragona
4     ajuntament-de-terassa                Open Data Terassa

                                                 url                   author  \
0  http://www.a2gov.org/services/data/Pages/defau...        City of Ann Arbor
1            http://acikveri.sahinbey.bel.tr/dataset                 pinardag
2                         http://africaopendata.org/         Africa Open Data
3                     http://opendata.tarragona.cat/  Ajuntament de Tarragona
4                      http://opendata.terrassa.cat/    Ajuntament de Terassa

                 publisher
0        City of Ann Arbor
1      SahinBey Belediyesi
2         Africa Open Data
3  Ajuntament de Tarragona
4    Ajuntament de Terassa

PRINT PUBLISHERS FROM ANN ARBOR

In [28]:
df2  = df.where(df['publisher'] == 'City of Ann Arbor')[['title','publisher']].iloc[0:5]
print(df2)

                 title          publisher
0  Ann Arbor, Michigan  City of Ann Arbor
1                  NaN                NaN
2                  NaN                NaN
3                  NaN                NaN
4                  NaN                NaN

Countries with count

In [42]:
print(df['country'].unique())
print(df['country'].unique().size)

['US' 'TR' 'AF' 'ES' 'AL' 'CA' 'DZ' 'NL' 'GB' 'FR' 'AT' 'AU' 'BH' 'IT'
 'UK' 'CN' 'DE' 'BM' 'RU' 'AR' 'KR' 'CM' 'CV' 'PT' 'CL' 'UA' 'IE' 'BR'
 'RS' 'MX' 'mx uy cl' 'CZ' 'SP' 'br' 'PL' 'isr' 'SK' 'HK' 'sui' 'JP' 'TH'
 'bf' 'HR' 'PH' 'RO' 'TW' 'jp' 'no' nan 'Global' 'UG' 'ru' 'gr' 'NO' 'ITa'
 'PY' 'GT' 'pe' 'DK' 'cod' 'GLOBAL'
 'IE US UK ES FR NL DE pl sv IT lt AR id no ru fi cs PT' 'eTH' 'Europe'
 'FI' 'BE' 'GR' 'KA' 'USA' 'gha' 'IN' 'ID' 'Kamloops, BrITish Columbia'
 'global' 'mwi' 'EU' 'MD' 'UY' 'MA' 'mAR' 'moz' 'nam' 'nga' 'dnk' 'OM'
 'SA' 'NZ' 'CO' 'XK' 'SL' 'KH' 'SE' 'KE' 'HU' 'JE' 'LB' 'TZ' 'CH' 'cog'
 'rwa' 'San DIEgo, California' 'SEn' 'SG' 'ZA' 'zaf' 'ssd' 'tza'
 'UK CA AU gr hu lt si NL md' 'tun' 'AE' 'en' 'ZM' 'ZW' 'BG' 'Ukraine'
 'International' 'United States' 'BO' 'Telangana, India' 'GF' 'MK'
 'Armenia' 'Tunisia' 'United Kingdom' 'Nepal' 'UZ' 'TN' 'PS' 'NP' 'TJ']
130

COUNTRY_WISE DATA ROW COUNT

In [50]:
print(df['country'].value_counts())

US                                                       100
CA                                                        62
BR                                                        43
IT                                                        32
ES                                                        31
                                                        ...
DZ                                                         1
eTH                                                        1
IE US UK ES FR NL DE pl sv IT lt AR id no ru fi cs PT      1
cod                                                        1
TJ                                                         1
Name: country, Length: 129, dtype: int64


PRINT STATUSES WITH COUNT

In [59]:
print(len(df))
print(df['status'].unique())
print(df['status'].value_counts())

601
['active' 'inactive' 'static']
active      586
inactive     14
static        1
Name: status, dtype: int64

COUNT DATA FROM NETHERLANDS

In [73]:
print(df['description'].str.contains('Netherlands').sum())

5